/* fonts */
@font-face {
  font-family: Metropolis;
  src: url(./assets/fonts/Metropolis-Thin.woff) format('woff');
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: Metropolis;
  src: url(./assets/fonts/Metropolis-ExtraLight.woff) format('woff');
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: Metropolis;
  src: url(./assets/fonts/Metropolis-Light.woff) format('woff');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: Metropolis;
  src: url(./assets/fonts/Metropolis-Regular.woff) format('woff');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Metropolis;
  src: url(./assets/fonts/Metropolis-Medium.woff) format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Metropolis;
  src: url(./assets/fonts/Metropolis-SemiBold.woff) format('woff');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: Metropolis;
  src: url(./assets/fonts/Metropolis-Bold.woff) format('woff');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Metropolis;
  src: url(./assets/fonts/Metropolis-ExtraBold.woff) format('woff');
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: Metropolis;
  src: url(./assets/fonts/Metropolis-Black.woff) format('woff');
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: Metropolis;
  src: url(./assets/fonts/Metropolis/MetropolisUltra.otf) format('woff');
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: Metropolis;
  src: url(./assets/fonts/Metropolis-LightItalic.woff) format('woff');
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: Metropolis;
  src: url(./assets/fonts/Metropolis-RegularItalic.woff) format('woff');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: Metropolis;
  src: url(./assets/fonts/Metropolis-MediumItalic.woff) format('woff');
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: Metropolis;
  src: url(./assets/fonts/Metropolis-BlackItalic.woff) format('woff');
  font-style: italic;
  font-weight: 700;
}

/* Reset Pro */
/* Custom Properties (css variables) */
:root {
  /* Colors */
  --clr-prim: #181818;
  --clr-sec: #f0f0f0;

  /* Typography */
  --typ-principal: Metropolis, Helvetica;
}

/* on dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --clr-prim: #f0f0f0;
    --clr-sec: #181818;
  }
}

/* optional */
/* high contrast mode */
@media (prefers-contras: high) {
  :root {
    --clr-prim: black;
    --clr-sec: white;
  }
}

/* optional */
/* no animations mode */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
            transition: none !important;
  }
}

/* reset margins and paddings */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* images and media */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* optional */
  -o-object-fit: cover;
     object-fit: cover;
  /* optional */
  -o-object-position: center center;
     object-position: center center;
}

/* reset anchor tags to boxes */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* anchors inside paragraphs as inline */
p a {
  display: inline;
}

/* unstyle list items */
li {
  list-style-type: none;
}

/* smooth auto scroll */
html {
  scroll-behavior: smooth;
}

/* reset text tags */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* reset quote's pseudo elements */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* configure selected text */
::-moz-selection {
  background-color: #818181;
  color: #f0f0f0;
}
::selection {
  background-color: #818181;
  color: #f0f0f0;
}

/* normalize forms */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* reset tables */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* resolve svg problems */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* set typography for the whole app */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--typ-principal);
  color: var(--clr-prim);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}